In [1]:
!pip install -r requirements.txt

Requirement already satisfied: tensorflow in c:\users\anubh\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (2.18.0)
Requirement already satisfied: pandas in c:\users\anubh\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (2.2.2)
Requirement already satisfied: numpy in c:\users\anubh\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (1.26.4)
Requirement already satisfied: scikit-learn in c:\users\anubh\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: tensorboard in c:\users\anubh\anaconda3\lib\site-packages (from -r requirements.txt (line 5)) (2.18.0)
Requirement already satisfied: matplotlib in c:\users\anubh\anaconda3\lib\site-packages (from -r requirements.txt (line 6)) (3.8.4)
Requirement already satisfied: streamlit in c:\users\anubh\anaconda3\lib\site-packages (from -r requirements.txt (line 7)) (1.32.0)
Requirement already satisfied: tensorflow-intel==2.18.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (3.4.0)
Requirement already satisfied: packaging in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (3.20.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (2.32.2)
Requirement already satisfied: setuptools in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (69.5.1)
Requirement already satisfied: six>=1.12.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (1.68.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (3.6.0)
Requirement already satisfied: h5py>=3.11.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (3.11.0)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (0.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anubh\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anubh\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anubh\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\anubh\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\anubh\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anubh\anaconda3\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (2.2.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\anubh\anaconda3\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\anubh\anaconda3\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\anubh\anaconda3\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\anubh\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\anubh\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\anubh\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\anubh\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.4.4)
Requirement already satisfied: pillow>=8 in c:\users\anubh\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\anubh\anaconda3\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (3.0.9)
Requirement already satisfied: altair<6,>=4.0 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (8.1.7)
Requirement already satisfied: pyarrow>=7.0 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (14.0.2)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (13.3.5)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.10.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (3.1.37)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.4.1)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\anubh\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (4.0.1)
Requirement already satisfied: jinja2 in c:\users\anubh\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\anubh\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (4.19.2)
Requirement already satisfied: toolz in c:\users\anubh\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.12.0)
Requirement already satisfied: colorama in c:\users\anubh\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 7)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\anubh\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (4.0.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anubh\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anubh\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\anubh\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anubh\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (2024.8.30)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\anubh\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\anubh\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (2.15.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\anubh\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard->-r requirements.txt (line 5)) (2.1.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\anubh\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (0.43.0)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\anubh\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (4.0.0)
Requirement already satisfied: attrs>=22.2.0 in c:\users\anubh\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\anubh\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\anubh\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\anubh\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.10.6)
Requirement already satisfied: namex in c:\users\anubh\anaconda3\lib\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (0.0.8)
Requirement already satisfied: optree in c:\users\anubh\anaconda3\lib\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 1)) (0.13.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\anubh\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (0.1.0)

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [3]:
data = pd.read_csv("Churn_Modelling.csv")

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis =1)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
# Encoding
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [8]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
# one hot encoding for geography column
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
geo_ohe = ohe.fit_transform(data[['Geography']])
geo_ohe

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [10]:
geo_ohe.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [11]:
ohe.get_feature_names_out (['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
geo_encoded_df = pd.DataFrame(geo_ohe.toarray(), columns = ohe.get_feature_names_out(['Geography']))

In [13]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
data  = pd.concat([data.drop('Geography', axis =1), geo_encoded_df], axis =1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
# saving the encoder and scalar
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('ohe.pkl', 'wb') as file:
    pickle.dump(ohe, file)

In [16]:
# Divison into independent and dependent 
X = data.drop('Exited', axis =1)
y = data['Exited']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state= 42)

In [18]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [19]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [20]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [21]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [22]:
import tensorflow as tf

In [23]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [24]:
X_train.shape[1]
#12 inputs/elements

12

In [25]:
# Building our ANN Model
model = Sequential([ 
    Dense(64,activation = 'relu', input_shape = (X_train.shape[1],)),  # this is connected with input layer
    Dense(32, activation = 'relu'),  # hidden layer
    Dense(1, activation = 'sigmoid') # output layer
])
## tf.keras.Input(shape=(input_dim,)),  # Explicit input layer to avoid warning

C:\Users\anubh\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [26]:
model.summary()

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                         â”ƒ Output Shape                â”ƒ         Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                        â”‚ (None, 64)                  â”‚             832 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                      â”‚ (None, 32)                  â”‚           2,080 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                      â”‚ (None, 1)                   â”‚              33 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [27]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate =0.01)

In [28]:
# Compile the model
model.compile(optimizer = opt, loss = "binary_crossentropy", metrics = ['accuracy'])

In [29]:
# Set up the tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir = log_dir, histogram_freq =1)

#TensorBoard is a powerful visualization toolkit that helps monitor and debug machine learning experiments. 
#It is part of TensorFlow and provides interactive dashboards to visualize training metrics, model architecture, hyperparameter tuning, and more.

In [30]:
# set up earlystopping
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 5, restore_best_weights = True)

In [31]:
## Train the model
history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs =100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 7s 9ms/step - accuracy: 0.8215 - loss: 0.4268 - val_accuracy: 0.8540 - val_loss: 0.3544
Epoch 2/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8473 - loss: 0.3623 - val_accuracy: 0.8565 - val_loss: 0.3495
Epoch 3/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8615 - loss: 0.3452 - val_accuracy: 0.8560 - val_loss: 0.3623
Epoch 4/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 7ms/step - accuracy: 0.8608 - loss: 0.3461 - val_accuracy: 0.8520 - val_loss: 0.3530
Epoch 5/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8521 - loss: 0.3556 - val_accuracy: 0.8575 - val_loss: 0.3378
Epoch 6/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8685 - loss: 0.3211 - val_accuracy: 0.8640 - val_loss: 0.3410
Epoch 7/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8651 - loss: 0.3309 - val_accuracy: 0.8590 - val_loss: 0.3347
Epoch 8/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8660 - loss: 0.3307 - val_accuracy: 0.8620 - val_loss: 0.3377
Epoch 9/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8626 - loss: 0.3266 - val_accuracy: 0.8590 - val_loss: 0.3457
Epoch 10/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8653 - loss: 0.3192 - val_accuracy: 0.8595 - val_loss: 0.3395
Epoch 11/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8733 - loss: 0.3158 - val_accuracy: 0.8570 - val_loss: 0.3436
Epoch 12/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8676 - loss: 0.3258 - val_accuracy: 0.8505 - val_loss: 0.3571

In [32]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [33]:
# Load TensorBoard Extension
%load_ext tensorboard

In [70]:
%tensorboard --logdir  logs/fit20241120-182731